@model X.PagedList.IPagedList<WeatherArchiveWebApp.Models.WeatherData>
@using X.PagedList.Mvc.Core
@using System.Globalization

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h1>Архив погоды</h1>
@if(ViewBag.Month == null)
{
    ViewBag.Month = 0;
}
@if(ViewBag.Year == null)
{
    ViewBag.Year = 0;
}
<div>
     @using (Html.BeginForm("BackToHome", "WeatherData"))
     {
         <button>Вернуться назад</button>
     }
</div>
<div class="element">
    @using (Html.BeginForm("ShowWeatherData", "WeatherData", FormMethod.Get)){
  <select type="number" name="month">
      <option selected="selected" value=13>Все месяцы</option>
            @for(int i = 1; i <= 12; i++)
            {
                if(i == ViewBag.Month)
                {
                 <option selected="selected" value=@i>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                }
                else
                {
                 <option value=@i>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>   
                }
            } 
  </select>
  <select type="number" name="year">
      <option selected="selected" value=1>Все года</option>
      @for (var year = 2000; year <= 2022; year++) {
                if(ViewBag.Year == year)
                {
                 <option selected="selected" value=@year>@year</option>
                }
                else
                {
                 <option value=@year>@year</option>   
                }
      }
  </select>
  <div class="element">
      <button>Показать</button>
  </div>

  @if (Model.Count > 0)
  {
      <div>
          <label>Страница @Model.PageNumber из @Model.PageCount</label>
      </div>
      <div>
          @if (!Model.IsLastPage && Model.Count > 0)
          {
              <div class="left-block">
                  <button name="page" value=@(Model.PageNumber + 1)>Вперед</button>
              </div>
          }
          @if (!Model.IsFirstPage && Model.Count > 0)
          {
              <div>
                  <button name="page" value=@(Model.PageNumber - 1)>Назад</button>
              </div>
          }
      </div>
  }
 }
</div>

<table align="center">
    <tr>
        <td >Дата</td>
        <td>Время</td>
        <td>Т</td>
        <td>Отн. влажность воздуха, %</td>
        <td>Td</td>
        <td>Атм. давление, мм. рт. ст.</td>
        <td>Направление ветра</td>
        <td>Скорость ветра м/с</td>
        <td>Облачность %</td>
        <td>h</td>
        <td>VV</td>
        <td>Погодные явления</td>
    </tr>
    @if(Model.Count == 0) {
        <tr>
            <td colspan=12>Данных нет</td>
        </tr>
    }
    @if(Model.Count != 0)
    {
        foreach(var item in Model)
        {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Date.ToShortTimeString()</td>
                <td>@item.Temperature</td>
                <td>@item.RelativeAirHumidity</td>
                <td>@item.DewPoint</td>
                <td>@item.AtmosphericPressure</td>
                <td>@item.WindDirection</td>
                <td>@item.WindSpeed</td>
                <td>@item.CloudCover</td>
                <td>@item.LowerCloudLimit</td>
                <td>@item.HorizontalVisibility</td>
                <td>@item.WeatherPhenomena</td>
            </tr>
        }
    }
        
</table>
<style>
td {
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    width: 75px;
    text-align: center;
}

.element{
    margin-bottom: 10px
}

.margin{
    margin-left: 10px
}
.left-block{
    float: left;
}
</style>